rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    function isValidVideo() {
      return request.resource.contentType.matches('video/.*')
        && request.resource.size < 200 * 1024 * 1024;
    }
    function isValidImage() {
      return request.resource.contentType.matches('image/.*')
        && request.resource.size < 15 * 1024 * 1024;
    }

    match /users/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isOwner(userId) && (isValidImage() || isValidVideo());
    }

    match /videos/{userId}/{allPaths=**} {
      allow read: if true;
      allow create: if isOwner(userId) && isValidVideo();
      allow update: if isOwner(userId) && isValidVideo();
      allow delete: if isOwner(userId);
    }

    match /thumbnails/{userId}/{allPaths=**} {
      allow read: if true;
      allow create: if isOwner(userId) && isValidImage();
      allow update: if isOwner(userId) && isValidImage();
      allow delete: if isOwner(userId);
    }
  }
}
